* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #171c28;
    color: #fff;
}

/* Common */

.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.col-full {
    width: 100%;
}

/* main */

#main {
    background-color: #171c28;
}

#header {
    height: 46px;
    background-color: #121620;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.logo-container {
    display: flex;
    float: left;
    align-items: center;
    padding: 0 20px;
    height: 46px;
}

.logo {
    display: flex;
    font-size: 1.2rem;
    /* line-height: 46px; */
    align-items: center;
    align-content: center;
    margin-left: 20px;
    text-decoration: none;
}

.grey-color {
    color: #868e96;
}

.logo-name {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    border-right: 2px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    /* overflow: initial; */
    display: block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav {
    display: block;
    float: right;
}

#nav, .subnav {
    list-style-type: none;
}

#nav .nav-icon {
    font-size: 14px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .search-btn, 
#header .mobile-menu-btn {
    float: right;
    padding: 0 24px;
}

#header .mobile-menu-btn {
    display: none;
}

#header .menu-icon,
#header .search-icon {
    line-height: 46px;
    font-size: 20px;
    color: #fff;
}

#slider {
    display: block;
    width: 100%;
}

.greeting-main {
    display: flex;
    width: 1130px;
   margin: 80px 100px;
}

.greeting-text-div {
    width: 535px;
}

.greeting-text {
    color:#fff;
    font-size: 40px;
    line-height: 1.3;
    margin-top: 60px;
}

.greeting-text-p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
}


@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Education */
.content {
    display: block;
    width: 100%;
}

.section-education {
    padding-top: 80px;
    margin: 50px 100px;
}

.education-heading {
    color:#fff;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 20px;
}

.education-card-container {
    width: 100%;
}

.education-card-img-div {
}

.education-card-img {
    width: 100px;
    height: 100px;
    margin-left: -16px;
}


.education-card-content-div {
    width: 100%;
 
}

.education-card-heading {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 23px;
}

.education-card-text {
    color: #fff;
    font-size: 16px;
    padding-top: 8px;
}

.line-space {
    display: block;
    margin: 50px 0;
    border: #62656C solid 1px ;
}

/* Exercise */
.main-button {
    background-color: #55198b;
    border: 1px solid #55198b;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 50px;
    margin-top: 20px;
    padding: 13px 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out 0s;
    width: max-content;
}

.exercise-heading {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 23px;
    margin-top: 20px;
}

.exercise-content {
    display: flex;
    flex-wrap: wrap;
}

/* Contact section */

.section-contact {
    display: block;
    padding-top: 90px;
    margin: 50px 100px;
    text-align: center;
}

.contact-content {
    display: block;
    margin-top: 20px;
}

.contact-tel, .contact-email {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.contact-tel-p {
    margin-top: 25px;
}

/* Footer */
.footer {
    display: block;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.ag-format-container {
    width: 100%;
    margin: 0 auto;
}
  
.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
}
.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}
  
  
  
@media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
}
  
@media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
}
@media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
}